#recording-information-page {
  display: flex;
  justify-content: center;
  align-items: center;

  .main-content {
    width: 20rem;
    padding: 50px;
    background: #dfe6e9;
    border-radius: 12px;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;

    .form {
      display: grid;
      grid-template-columns: 1fr;
      justify-content: center;
      align-items: center;
      text-align: center;
      gap: 1.5rem;

      .title {
        margin: 0;
      }

      .form-control {
        padding: 20px;
        outline: none;
        border: none;
        border-radius: 10px;
      }

      .button {
        padding: 20px;
        outline: none;
        border: none;
        border-radius: 30px;
        width: 80%;
        cursor: pointer;
        font-size: 16px;
        font-weight: 600;
        background: #ff7675;
        color: #fff;
        
        :hover {
          background: red;
        }
      }
    }
  }
}