#history {
  display: flex;
  justify-content: center;
  align-items: center;
  .main-content {
    display: grid;
    row-gap: 0.4em;
    border-radius: 1em;
    background: $color-gray2;
    .audio-player {
      display: none;
    }
    .table {
      width: 45em;
      max-width: 100%;
      background: $color-white;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 3px;
      padding: 1.25em;
      th, td {
        padding: 0.8em;
        font-size: 0.875em;
        font-weight: 600;
        text-align: center;
        .show-index {
          width: 2em;
          height: 2em;
          background: #383838;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          color: #fff;
        }
      }
      .button-circle {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        border: none;
        height: 2em;
        width: 2em;
        padding: 0;
        margin: auto;
        cursor: pointer;
      }
    } & .header {
        border-radius: 1em 1em 0 0;
    } & .body {
      border-radius: 0 0 1em 1em;
    }
  }


  .new-record {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .25em;
    .icon-record {
      width: 4.375em;
      height: 4.375em;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      padding: 0.3125em;
      background: $color-pink;
      box-shadow: 0 0 0 0.25em #d0d0d0;
      cursor: pointer;
      .voice-button {
        width: 1.875em;
        height: 1.875em;
        color: $color-white;
      }
    }
    span {
      font-weight: 600;
      font-size: 0.8125em;
      color: $color-gray3;
    }
  }

}